
@{
    ViewBag.Title = "add";
}

<h2>add</h2>

<form action="~/Views/save" method="post">
    <table class="table table-bordered">
        <tr>
            <td>title:</td>
            <td><input type="text" name="title" value="" class="col-md-10" style="max-width:500px" /></td>
        </tr>
        <tr>
            <td>内容</td>
            <td><textarea name="Content" cols="60" rows="4" style="max-width:1000px"></textarea></td>
        </tr>
        <tr>
            <td><button type="submit" class="btn btn-block">save</button></td>
            <td><button type="reset" class="btn btn-warning">cancel</button></td>
        </tr>
    </table>
</form>