
@{
    //Layout = null;
    var a = 10.5;
    var b = 20;

    int v = 100;
    var newsList = ViewBag.data as string[];
}
}



<div>
    <h1>welcome </h1>
    <div>结果：@ViewBag.sum </div>
    <div>@(a + b)</div>
    <div> @( "TIME:" + DateTime.Now.ToString() )</div>
</div>


<ul class="list-unstyled">
    @foreach (var item in newsList)
    {
        <li>@item</li>
    }

</ul>
